/modules/Config.py
/__pycache__
*.pyc
/Index
/Log.txt
/LogScriptStatus.txt
/RedisDeleted.txt
/RedisUrls.txt
/booking_project.zip
/booking_project/
/mongo_backup_16oct/
/mongo_bk-16-10-2018/
/proxies.txt
/proxies_150.txt
/redis_dump.txt
/redis_dump.txt.zip
/test.txt
/scripts/Booking_backup2018-10-15.py
/scripts/Booking_backup2018-10-18.py
